In [1]:
import pandas as pd
import numpy as np
import datetime
from datetime import date
from xbbg import blp
import plotly.graph_objects as go
import dash
import dash_html_components as html
import dash_core_components as dcc
from dash.dependencies import Input, Output
import dash_bootstrap_components as dbc

In [2]:
#pd.set_option('display.max_columns', None)

In [2]:
#csv file with bbg country/ticker legend
filename = 'C:\\Users\\fmocanu\\Downloads\\bbg_tickers.csv'
df_leg = pd.read_csv(filename, low_memory=False)

In [ ]:
df_leg

In [3]:
today = date.today()
startdate = datetime.datetime(2019,1,1)
enddate = datetime.datetime(2020,12,31)

In [4]:
#importing all unique ticker series
tix = df_leg['Ticker'].unique()
df = blp.bdh(tickers= tix, flds=['px_last'], start_date=startdate, end_date= enddate, Per='M', Fill='B', Days='A')
df.columns = df.columns.droplevel(1)
df['Date'] = df.index - pd.to_timedelta(df.index.day - 1, unit='d') #changes date to 1st of month to fix xaxis
df.reset_index(inplace=True)
df = df.drop(['index'], axis=1)
df_melt = pd.melt(df, id_vars= ['Date'])

#merging tickers with countries into dataframe
df_merge = df_melt.merge(df_leg, left_on= 'variable', right_on= 'Ticker')
df_merge = df_merge[['Date','Country','Grade','Ticker','value']]

In [5]:
df_merge

           Date Country     Grade          Ticker     value
0    2019-01-01  NORWAY   Aasgard  LOSDAANS Index  109032.0
1    2019-02-01  NORWAY   Aasgard  LOSDAANS Index   61071.0
2    2019-03-01  NORWAY   Aasgard  LOSDAANS Index   55161.0
3    2019-04-01  NORWAY   Aasgard  LOSDAANS Index   85500.0
4    2019-05-01  NORWAY   Aasgard  LOSDAANS Index   81452.0
...         ...     ...       ...             ...       ...
2107 2020-08-01   LIBYA  Zueitina  LOSDZUEI Index       NaN
2108 2020-09-01   LIBYA  Zueitina  LOSDZUEI Index       NaN
2109 2020-10-01   LIBYA  Zueitina  LOSDZUEI Index       NaN
2110 2020-11-01   LIBYA  Zueitina  LOSDZUEI Index       NaN
2111 2020-12-01   LIBYA  Zueitina  LOSDZUEI Index       NaN

[2112 rows x 5 columns]

In [16]:
df_merge[df_merge['Country'] == 'ANGOLA']

           Date Country    Grade          Ticker     value
216  2019-01-01  ANGOLA  Saturno  LOSDANSA Index   91935.0
217  2019-02-01  ANGOLA  Saturno  LOSDANSA Index  101786.0
218  2019-03-01  ANGOLA  Saturno  LOSDANSA Index   91935.0
219  2019-04-01  ANGOLA  Saturno  LOSDANSA Index   63333.0
220  2019-05-01  ANGOLA  Saturno  LOSDANSA Index   91935.0
...         ...     ...      ...             ...       ...
2035 2020-08-01  ANGOLA  Xikomba  LOSDXIKT Index       NaN
2036 2020-09-01  ANGOLA  Xikomba  LOSDXIKT Index       NaN
2037 2020-10-01  ANGOLA  Xikomba  LOSDXIKT Index       NaN
2038 2020-11-01  ANGOLA  Xikomba  LOSDXIKT Index       NaN
2039 2020-12-01  ANGOLA  Xikomba  LOSDXIKT Index       NaN

[456 rows x 5 columns]

In [19]:
df_merge[df_merge['Country'] == 'ANGOLA']

SyntaxError: invalid syntax (<ipython-input-19-4a0c57f1f47f>, line 1)

In [20]:
df_merge[df_merge['Grade']=='Xikomba']

           Date Country    Grade          Ticker  value
2016 2019-01-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2017 2019-02-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2018 2019-03-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2019 2019-04-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2020 2019-05-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2021 2019-06-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2022 2019-07-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2023 2019-08-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2024 2019-09-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2025 2019-10-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2026 2019-11-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2027 2019-12-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2028 2020-01-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2029 2020-02-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2030 2020-03-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2031 2020-04-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2032 2020-05-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2033 2020-06-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2034 2020-07-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2035 2020-08-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2036 2020-09-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2037 2020-10-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2038 2020-11-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN
2039 2020-12-01  ANGOLA  Xikomba  LOSDXIKT Index    NaN

In [ ]:
df_merge[df_merge['Country'] == 'ANGOLA' and ]

In [6]:
df_sums = df_merge.groupby(['Country','Date'])['value'].apply(pd.DataFrame.sum, skipna=False).reset_index()

In [12]:
df_sums

                 Date Country  value
Date
2019-01-01 2019-01-01  ANGOLA    NaN
2019-02-01 2019-02-01  ANGOLA    NaN
2019-03-01 2019-03-01  ANGOLA    NaN
2019-04-01 2019-04-01  ANGOLA    NaN
2019-05-01 2019-05-01  ANGOLA    NaN
...               ...     ...    ...
2020-08-01 2020-08-01  RUSSIA    NaN
2020-09-01 2020-09-01  RUSSIA    NaN
2020-10-01 2020-10-01  RUSSIA    NaN
2020-11-01 2020-11-01  RUSSIA    NaN
2020-12-01 2020-12-01  RUSSIA    NaN

[432 rows x 3 columns]

In [8]:
df_sums = df_sums[['Date','Country','value']]

In [10]:
df_sums['value']=df_sums['value'].replace(0,np.nan)

In [11]:
df_sums['value']=df_sums['value'].replace(0,np.nan)

#data visualization
# Load data
df = df_sums
df.index = pd.to_datetime(df['Date'])

In [1]:
# Import smtplib for the actual sending function
import smtplib

# Import the email modules we'll need
#from email.mime.text import MIMEText

# Open a plain text file for reading.  For this example, assume that
# the text file contains only ASCII characters.
#with open(textfile, 'rb') as fp:
    # Create a text/plain message
#    msg = MIMEText(fp.read())

# me == the sender's email address
# you == the recipient's email address
#msg['Subject'] = 'Test mail'

# Send the message via our own SMTP server, but don't include the
# envelope header.
s = smtplib.SMTP('localhost')
s.sendmail('fmocanu@andurandcapital.com', 'fmocanu@andurandcapital.com', 'Test mail')
s.quit()

ConnectionRefusedError: [WinError 10061] No connection could be made because the target machine actively refused it